<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css"
          type="text/css"> -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css"
          rel="stylesheet"
          type="text/css" />

    <!-- for UI kit daisyui is option 1 -->
    <!-- flowbite is option 2 https://flowbite.com -->
    <!-- https://www.hyperui.dev is option 3 -->
    <!-- bootstrap is also as option 4 https://getbootstrap.com -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    {{embed}}
</body>

</html>