<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css"
          type="text/css"> -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css"
          rel="stylesheet"
          type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.5.10/src/index.min.js">

    </script>

    <!-- for UI kit daisyui is option 1 -->
    <!-- flowbite is option 2 https://flowbite.com -->
    <!-- https://www.hyperui.dev is option 3 -->
    <!-- bootstrap is also as option 4 https://getbootstrap.com -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="http://github.com/carhartl/jquery-cookie/zipball/v1.4.1"></script>
</head>

<body>
    <script>
        let currentUser = {{.CurrentUser }}

        if (currentUser) {
            $("#currentUserInfo").text(currentUser.Email)
        }

        let url = "ws://" + document.location.host + "/ws"
        let ws = new WebSocket(url);
        ws.onopen = (event) => {
            console.log("onopen")
        }
        ws.onmessage = (event) => {
            alert("onmessage" + event.data)
            console.log("Message from server ", event);
        }
        ws.onclose = (event) => {
            // TODO: implement reconnection or persistent connection (on page load, create websocket connection)
            console.log("The connection has been closed successfully.", event);
        }
        ws.onerror = (event) => {
            console.log("WebSocket error: ", event);
        }
    </script>

    <div class="navbar bg-base-100">
        {{if .CurrentUser}}
        <p>
            Current user: <span>{{.CurrentUser.Email}}</span>
        </p>
        {{else}}
        <p>Unauthorized</p>
        {{end}}

        {{if not .CurrentUser}}
        <a class="btn btn-ghost normal-case text-xl"
           onclick="location.href='/ui/login'">Login</a>
        {{end}}
        {{if .CurrentUser}}
        <a class="btn btn-ghost normal-case text-xl"
           onclick="logout()">Logout</a>
        {{end}}
        <a class="btn btn-ghost normal-case text-xl"
           onclick="location.href='/ui/users'">Users</a>
        <a class="btn btn-ghost normal-case text-xl"
           onclick="location.href='/ui/chats'">
            All Chats</a>

        {{if .CurrentUser}}
        <a class="btn btn-ghost normal-case text-xl"
           onclick="location.href='/ui/users/{{.CurrentUser.ID}}/chats'">
            My Chats</a>
        {{end}}
    </div>

    <div class="container px-32">
        {{embed}}
    </div>
</body>

</html>
