<h1>Current user: <span id="currentUser"></span></h1>

<h1 class="text-3xl">{{.Chat.Name}}</h1>

<div>
    <details class="collapse bg-base-200">
        <summary class="collapse-title text-xl font-medium">
            <h3>View/hide chat members</h3>
        </summary>
        <div class="collapse-content">
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Chat.Members}}
                        <tr>
                            <td>
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="{{.AvatarURL}}"
                                             alt="Avatar URL" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="flex items-center space-x-3">
                                    <div>
                                        <div class="font-bold">{{.Name}}</div>
                                        <div class="text-sm opacity-50">{{.Email}}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </details>
</div>

<div class="overflow-x-auto">
    <table class="table table-xs">
        <thead>
            <tr>
                <th class="w-40">Sent at</th>
                <th class="w-40">Name</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {{range .Chat.Messages}}
            <tr>
                <td>{{.CreatedAt.Format "02 Jan 06 15:04 MST"}}</td>

                {{if .From.Name}}
                <td>{{.From.Name }}</td>
                {{else}}
                <td>{{.From.Email}}</td>
                {{end}}

                <td>{{.Content}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>


<script>
    function sendMessage() {
        let userEmail = document.cookie.split("; ").find(row => row.startsWith("Authorization="))?.split("=")[1]
        console.log("AuthorizationCookie=", userEmail)
        let message = document.getElementById("message").value

        // TODO: wrap template vars read with error handling
        $.ajax({
            url: "/api/chats/{{.Chat.ID}}",
            type: "POST",
            data: {
                user: userEmail,
                content: message,
            },
            dataType: "json",
        })

        location.reload()
    }
</script>

<form>
    <div class="container mx-auto flex items-center justify-center content-center my-6">
        <textarea class="textarea textarea-bordered "
                  id="message"
                  name="message"
                  placeholder="write..."></textarea>
        <button value="Submit"
                onclick="sendMessage()"
                class="btn btn-primary btn-wide mx-8">Send</button>
    </div>
</form>