<div>
    <!-- todo: show chats, that belong to user only -->
    <h2>Chats list</h2>
    <table>
        {{range .Chats}}
        <tr>
            <td>
                <div>
                    {{.Name}}
                </div>
            </td>
            <td>
                {{range .Members}}
                <div>{{.Name}}</div>
                {{end}}
            </td>
            <td>
                <button onclick="joinChat()">join</button>
            </td>
            <td>
                <button onclick="viewChat({{.ID}})">view</button>
            </td>
        </tr>
        {{end}}
    </table>
</div>
<script>
    function joinChat() {
        alert("todo: implement joinChat")
    }

    function viewChat(chatId) {
        window.location.href = `/chats/${chatId}`
    }
</script>