<h4>{{.Chat.Name}}</h4>

{{if .Chat.Members}}
<table>
    {{range .Chat.Members}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>
            <!-- TODO: implement profile photos uploading -->
            {{if .AvatarURL}}
            <span>{{.AvatarURL}}</span>
            {{else}}
            <span>no profile photo</span>
            {{end}}
        </td>
    </tr>
    {{end}}
</table>
{{else}}
<div>no users in chat</div>
{{end}}

<!-- TODO: implement messages UI -->
{{if .Chat.Messages}}
<table>
    {{range .Chat.Messages}}
    <tr>
        <td>{{.From.Name}}</td>
        <td>{{.Content}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<h6>chat is empty</h6>
{{end}}


<script>
    function sendMessage() {
        let message = document.getElementById("message").value
        console.log("message=", message)
        alert(message)

        $.post("/api/chat/{{.Chat.ID}}", {
            fromID: "{{.User.ID}}",
            content: message,
        })
    }
</script>

<form action=""
      method="POST">
    <input type="text"
           id="message"
           name="message"
           placeholder="write..."
           required />
    <input type="button"
           value="Send"
           onclick="sendMessage()" />
</form>